<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.walltip.categories">

    <application>
        <activity android:name=".view.category.CategoryActivity"/>
        <activity android:name=".view.category.CategoryDetailActivity"/>
        <activity android:name=".view.quotes.QuotesActivity"/>
    </application>

</manifest>